body
{
    background-position: center;
    background-size: cover;
   
}

.link{
    background: rgb(187, 206, 223);
    border-radius: 20px;
    width: 250px;
    margin-top: 15px;
    font-size: medium;
}
.link:hover{
    font-size: large;
}






















